#wrapper{width: 800px;margin:0 auto}
#full{display:none}
a{color: green;padding-left: 15px;}
a.open{background: url(../Imagesopen.gif) no-repeat left center;}
a.close{background: url(../Imageclose.gif) no-repeat left center;}